In [56]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import auc, roc_curve
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import matplotlib as plt

In [58]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv("../data/test.csv")

In [59]:
train = train[["target","comment_text"]]
train["label"] = [1 if i >= 0.5 else 0 for i in train["target"]]
train, valid = train_test_split(train, test_size=0.33, random_state=42)

In [ ]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(train["comment_text"])
X_valid = vectorizer.transform(valid["comment_text"])
#print(vectorizer.get_feature_names())

#pd.DataFrame(X.toarray(),columns = vectorizer.get_feature_names())

In [ ]:
model = LogisticRegression()
model.fit(X, train["label"])
p = model.predict_proba(X_valid)

In [ ]:
dfp = pd.DataFrame(np.concatenate((np.transpose([p[:,1]]), valid[["label"]].values), axis=1), columns = ["p", "label"])
dfp.groupby('label').hist()

In [ ]:
fpr, tpr, thresholds = roc_curve(valid["label"], p[:,1], pos_label=1)
auc(fpr, tpr)

In [39]:
test

            id                                       comment_text
0      7097320  [ Integrity means that you pay your debts.]\n\...
1      7097321  This is malfeasance by the Administrator and t...
2      7097322  @Rmiller101 - Spoken like a true elitist. But ...
3      7097323  Paul: Thank you for your kind words.  I do, in...
4      7097324  Sorry you missed high school. Eisenhower sent ...
...        ...                                                ...
97315  7194635  He should lose his job for promoting mis-infor...
97316  7194636  "Thinning project is meant to lower fire dange...
97317  7194637  I hope you millennials are happy that you put ...
97318  7194638  I'm thinking Kellyanne Conway (a.k.a. The Trum...
97319  7194639  I still can't figure why a pizza in AK cost mo...

[97320 rows x 2 columns]